---
layout: default
---

<div class="post">
  <div class="container main">
    <div class="row">
      <header>
        <center>
          <span itemprop="name"><h1>{{ page.title }}</h1></span>
      </header>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8 offset-md-1">
        <article lang="en">
          {% if page.abstract %} <b>Abstract.</b> {{ page.abstract }}<br /><br />{%
          endif %} {{ content }}
        </article>
      </div>
    </div>
  </div>
</div>
